* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.nombre {
  background-color: grey;
  color: #FBCBEA;
  font-family: 'Love Ya Like A Sister', cursive;
  padding: 20px;
}

h1, h2 {
  background-color: white;
  color: #FBCBEA;
  font-family: 'Love Ya Like A Sister', cursive;
  padding: 20px;
}

button {
  background-color: #FBCBEA;
  color:  grey;
  padding: 16px 30px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  transition: .3s;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

button a {
  color:  grey;
}

button a:hover {
  color: rgb(212, 168, 253);
}

/* ----- navbar ----- */
.navbar-nav {
  overflow: auto;
  white-space: nowrap;
}

.navbar-nav ul {
  list-style-type: none;
}

.navbar-nav a {
  display: inline-block;
  color: black;
  padding: 14px;
  text-decoration: none;
}

.navbar-nav li {
  display: inline;
  margin: 0 10px 0 0;
}

/* color cuando paso arriba del nav home, aboutme, etc */
.navbar-nav a:hover {
  color: #FBCBEA !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  text-decoration: none;
} 

header nav a img{
  text-align: left;
}

/* ---------- banner ----- */
.banner {
  background-image: url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80);
  background-size: cover;
  background-position: center;
  padding: 150px 0 100px 0;
  text-align: center;
}

p, a {
  background-color:  white;
  color:  grey;
  margin: 0;
  font-family: 'Love Ya Like A Sister', cursive;
  padding: 20px;
}

/* -------- datos home -------- */
.datos-wrap {
  width: 80%;
  margin: 60px auto; 
}

.datos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.datos {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  border-radius: 4px;
  padding: 24px;
  margin: 0px 20px;
}

.datos h3, p {
  color:  grey;
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  padding: 10px;
}

/* -------- titulos education -------- */
.titulos-wrap {
  width: 80%;
  margin: 60px auto;
}

.titulos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titulos {
  background:white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  border-radius: 4px;
  padding: 24px;
  margin: 0px 20px;
}

.titulos h3, p {
  color:  grey;
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  padding: 10px;
}

/* -------- profile -------- */
.profile-wrap {
  width: 80%;
  margin: 60px auto;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  border-radius: 4px;
  padding: 24px;
  margin: 0px 20px;
}

.profile img {
  width: 100%;
}

img {
  display: block;
  max-width: 50%;
  margin:auto;
  border-radius: 10px;
}

.profile h3, p {
  color: grey;
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  padding: 10px;
}

/* -------- cards skills -------- */
.cards-fluid {
  width: 80%;
  margin: 60px auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.col {
  background:  white;
  box-shadow: 0 0 16px rgb(0, 0, 0);
  border-radius: 4px;
  padding: 24px;
  margin: 10px 20px;
}

.col img {
  width: 100%;
}

.col p {
  background-color:  #FBCBEA;
  color:  grey !important;
  margin: 0;
  font-family: 'Love Ya Like A Sister', cursive;
  padding: 20px;
  border-radius: 5px;
}

.col h3 {
  color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

/* -------- experience job -------- */
.experiencia-wrap {
  width: 80%;
  margin: 60px auto;
}

.experiencia-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.experiencia {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  border-radius: 4px;
  padding: 24px;
  margin: 0px 20px;
}

.experiencia h3, p {
  color:  grey;
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  padding: 10px;
}

/* -------- footer -------- */

.footer {
  background: #FBCBEA;
  color:  grey;
  padding: 10px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  margin-top: 1%;
}

footer p {
  color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:  #FBCBEA;
}

.footer .social [class^="icon-"] {
  display: inline-block; 
  color: grey;
  text-decoration: none;
  font-size: 17px;
  padding: 10px;
  width: 50%;
  height: 50%;
  line-height: 15px;
}
